body{
padding-right:12px !important;
padding-left:12px !important;
background:url('../img/bg.jpg') !important;
background-position: center !important;
background-size: 100% 100% !important;
 background-attachment: fixed;


}
.header{
padding-left:12px !important;
padding-right:12px !important;
position: absolute;

}

.header .nav .h-seperate {
    border-left: 2px solid #fff;
}

.horizontal-menu .bar {

position: absolute;
}


.header .navbar-inner {
    background-color: transparent !important;
}
.horizontal-menu .bar {
    margin-top: 0px;
}
.horizontal-menu .page-content .content {
    padding-top: 50px;
   
}


.header .chat-toggler {
  background:#fff;
    display: inline-block;
    float: left;
    margin-right: 5px;
    min-width: 0px;
    min-height:50px;
    position: relative;
    top: 0px;
}

.header .chat-toggler .profile-pic {
    height: 60px;
    width: 60px;
}

li.quicklinks i {
    color: #fff !important;
    font-size: 2em !important;
 }


 .badge {
    vertical-align: top;
 
}
/*ul > li {
    line-height: 30px;
}*/

h1, h2, h3, h4, h5, h6 {
    color: #000 !important;
}

.grid.simple .grid-body {
    color: #000 !important;
}
.table td {
    color: #000 !important;
}
.page-content {
    background-color: #f1f1f1 !important;
 }
 .form-group .form-label {
    color: #000;
}
.bg-light-blue{
background: rgba(255,109,0,0.5) !important;

}
/*.label {
    background-color: #0090D9;
    color: #fff;
 }*/
 .va-middle {
    vertical-align: middle;
}

 .panel-info > .panel-heading {
    background-color: rgba(255, 109, 0, 0.6) !important;
    border-color:  rgba(255, 109, 0, 1) !important;
    color: #fff !important;
    background-image:none !important;
}

 .panel-info {
    border-color:  rgba(255, 109, 0, 1) !important;
}
.panel-group .panel-heading .panel-title > a.collapsed::after {
    color: #000 !important;
}
.line-height-14{
font-weight: bold !important;
    line-height: 14px;
}

.uneditable-input, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"] {
    border: 1px solid #000;
    color: #282323;
}

.uneditable-input.focus, textarea:focus, select:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .m-uneditable-input:focus {
    background-color: #f4f5f7;
    border-color: #66afe9 !important;
   
}
.select2-container .select2-choice {
    border: 1px solid #000 !important; 
}
.select2-container-multi .select2-choices {
    border: 1px solid #000;
}


.horizontal-menu .bar {
    background-color: rgba(6,194,239,0.7);
}
.horizontal-menu .bar-inner > ul > li > a {
    color: #000 !important;
}
/*
.horizontal-menu .bar-inner > ul > li {
background:#fff;
}
*/
.horizontal-menu .bar-inner > ul > li:hover {
  background-color: #fff !important;
}
.horizontal-menu .bar-inner .active {
  background-color: #fff !important;
}

.table-bordered1 {
    border-color: #000 !important;
}
.no-border{
border: none !important;

}
.italic{
    font-style: italic;
}

.underline{
text-decoration: underline;
    -moz-text-decoration-color: green; /* Code for Firefox */
    text-decoration-color: green;

}

.width-200{
    width:200px;
   
}

.width-100{
    width:100px;

}
.height-2 {
    height: 80px;
}

.width-150{
    width:150px;
}
.height-200{
    height:200px;
}

.height-100{
    height:100px;
}

.height-150{
    height:150px;
}


.height-130{
    height:130px;
}
.height-200{
    height:200px;
}
.no-background{
background: transparent !important; 

}
.post .info-wrapper.small-width1 {
    width: 60%;
}
.post .info-wrapper.small-width {
    width: 80% !important;
}
.bg-white{
background: #fff !important;

}

.bg-background{

background: #f1f1f1 !important;

}

.bg-blue-info-button{
background: #0094D2 !important;
color: #fff !important;

} 

.page-title i.none-18 {
    font-size: 18px !important;
    margin-right: 0;
 
}

.page-title i.info-color-bg {
    background: #0094D2 !important;
color: #fff !important;
    font-size: 30px;
    margin-top:-30px !important ;
    padding:25px 10px 10px !important;
   
   
}


.grid-title .tools > a.height-5 {
    display: inline-block;
    height: 5px;
    margin-left: 5px;
}

.tiles.tile-bg-custom{
    background: transparent !important;
    color: #000;
}

.text-orange{
color:#FF7800 !important;

}
.text-blue-custom{
color:#0094D2 !important;

}


.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}


.height-220{
height:220px !important;

};
.height-210{
    height: 210px ;
}

.text-italic{
font-style: italic !important;
}

.bg-blue-custom{
    background: #0094D2 !important;
    color:#fff !important;


}


.b-all{

    border: 1px solid #000 !important;
} 

.morris-chart text {
  fill: #000000 !important;
}

.text-jusitfy{

   text-align: justify;
    text-justify: inter-word;
}

.border-width-t{
border-width: 1px 0 0 !important; 

} 

.owl-prev , .owl-next{

display: inline-block !important;

} 

.padding-10-f{
    padding:5px 10px !important;

}



.m-b-10-f{

    margin-bottom: 10px !important;
}
.m-b-5-f{

    margin-bottom: 5px !important;
}


.p-l-0{

    padding-left:0px !important;
}

.p-r-0{

    padding-right:0px !important;
}

.p-t-0{

    padding-top:0px !important;
}

.p-b-0{

    padding-bottom:0px !important;
}
.m-b-0{

    margin-bottom:0px !important;
}


.pin{
  color: #000000;
  font-size: 10px;
  height: 90px;
  line-height: 9px;
  padding: 10px;
  text-align: center;
  width: 90px;
}
/*.pin1,.pin14,.pin12,.pin11,.pin7,.pin6,.pin2,.pin3,.pin19,.pin17 > a {

    color:#fff !important;
}

.pin20,.pin16,.pin15,.pin13,.pin10,.pin9,.pin8,.pin5,.pin4,.pin18 > a{

    color:#000 !important;
}


*/
.pin1{

background-image: url('../img/stick-note/1.png');
}

.pin1 > a {

    color:#fff !important;
}


.pin2{

background-image: url('../img/stick-note/2.png');
}
.pin2 > a {

    color:#fff !important;
}
.pin3{

background-image: url('../img/stick-note/3.png');

}
.pin3 > a {

    color:#fff !important;
}
.pin4{

background-image: url('../img/stick-note/4.png');

}
.pin4 > a{

    color:#000 !important;
}
.pin5{

background-image: url('../img/stick-note/5.png');

}
.pin5 > a{

    color:#000 !important;
}
.pin6{

background-image: url('../img/stick-note/6.png');

}
.pin6 > a {

    color:#fff !important;
}
.pin7{

background-image: url('../img/stick-note/7.png');

}
.pin7 > a {

    color:#fff !important;
}

.pin8{

background-image: url('../img/stick-note/8.png');

}
.pin8 > a{

    color:#fff !important;
}

.pin9{

background-image: url('../img/stick-note/9.png');

}
.pin9 > a{

    color:#fff !important;
}
.pin10{

background-image: url('../img/stick-note/10.png');
}
.pin10 > a{

    color:#000 !important;
}
.pin11{

background-image: url('../img/stick-note/11.png');

}
.pin11 > a {

    color:#fff !important;
}
.pin12{

background-image: url('../img/stick-note/12.png');

}
.pin12 > a {

    color:#fff !important;
}
.pin13{

background-image: url('../img/stick-note/13.png');

}
.pin13 > a{

    color:#000 !important;
}
.pin14{

background-image: url('../img/stick-note/14.png');

}

.pin14 > a {

    color:#fff !important;
}
.pin15{

background-image: url('../img/stick-note/15.png');

}
.pin15 > a{

    color:#000 !important;
}

.pin16{

background-image: url('../img/stick-note/16.png');

}
.pin16 > a{

    color:#000 !important;
}
.pin17{

background-image: url('../img/stick-note/17.png');

}
.pin17 > a {

    color:#fff !important;
}

.pin18{

background-image: url('../img/stick-note/18.png');

}
.pin18 > a{

    color:#000 !important;
}
.pin19{

background-image: url('../img/stick-note/19.png');

}
.pin19 > a {

    color:#fff !important;
}

.pin20{

background-image: url('../img/stick-note/20.png');

}


.pin20 > a{

    color:#000 !important;
}

.border-b{
border-bottom:#D2D0D5 1px solid !important;


}
.cal-1{
background-color: #fff !important;
color:#fff;
border: 0px solid #dddddd !important;
}

.cal-2{
background-color: #fff !important;
color:#fff;
}

.cal-3{
background-color: #fff !important;
color:#fff;
}
.cal-4{
background-color: #fff !important;
color:#fff;
}
.cal-5{
background-color: #fff !important;
color:#fff;
}

.cal-gird-trans{

    background-color: #0094D2 !important;
}

.fc-grid .fc-day-number {
    padding:15px 10px !important;
    color:#000;
}

.fc-day-header{
    color:#fff;
    padding: 10px !important;

    background: #0090D9 ;
}
table.fc-border-separate {
    margin-top: 0;
}

.popover {
   color:#000;
    width: 350px;
}


 textarea, input[type="text"]{

    min-height:32px !important;
}

.input-append .add-on, .input-prepend .add-on {
    height: 32px;
   
}

.header .search-form {
   
    top: 0px;
}


.header .nav .h-seperate {
    top: 6px;
}



.hr-aaa{
  margin: 5px 0 !important;
  border: 0;
  border-top: 1px solid #aaaaaa;
  border-bottom: 1px solid #aaaaaa;

}
.hr-aaa-b{
  margin: 5px 0 !important;
  border: none !important;
 
}

.b-c-aaa{

border-right:2px solid #aaaaaa !important;

}
.table td.no-padding-margin
{
margin:0 !important;
padding:0 !important;
}

.close {
    color: #fff;
    opacity: 1;
}

.btn-green {
    background-color: #4caf50;
    border-color: #4caf50;
    color: #ffffff;
}

.fc-state-highlight .fc-day-number {
    background-color: transparent !important;

}

ul.progress-list li .details-status {
    background-color: #e5e9ec;
    color: #000;
    padding:3px 6px;
    font-size: 12px;
}
.progress {
    margin-bottom: 15px;
}
/*
.table td {
    padding: 0 12px !important;
}*/

.progress-bar-orange {
  background-color: #FF891F;
  background-image: none;
}
.progress-bar-info1 {
  background-color: #5D6B06;
  background-image: none;
}
.progress-bar-warning1 {
  background-color: #AA0F3B;
  background-image: none;
}

.img-width-100{
width: 100% !important;

}

.widget-item .controller.right1 {
    right: 5px;
    top: 5px;
}

.label-green{
color:#fff;
    background:#0B9444;
}